<nav>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_services') }}">Services</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </ul>
</nav>
