{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Bienvenue dans la section Réservation</h1>
    <p>Cliquez sur le bouton ci-dessous pour créer une nouvelle réservation :</p>
    <a class="btn btn-primary" href="{{ path('reservation_new') }}">Réserver</a>
{% endblock %}
