{% extends 'base.html.twig' %}

{% block title %}Succès Réservation{% endblock %}

{% block body %}
    <h1>Réservation enregistrée avec succès !</h1>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
