<div id="tab3" class="tab-content">
			<div style="text-align: left; margin-bottom: 16px;">
				<button type="button" class="nav-main-btn back-btn" onclick="switchToTab('tab2')">Retour</button>
			</div>
			<div class="general-container">
				<h2 style="color: white;">Récapitulatif</h2>
				<ul style="color: #ccc; line-height: 1.6;">
					<li>
						<strong>Départ :</strong>
						<span id="recap_depart"></span>
					</li>
					<li>
						<strong>Arrivée :</strong>
						<span id="recap_arrivee"></span>
					</li>
					<li>
						<strong>Arrêt :</strong>
						<span id="recap_stop"></span>
					</li>
					<li>
						<strong>Siège bébé :</strong>
						<span id="recap_siege"></span>
					</li>
					<li>
						<strong>Type de véhicule :</strong>
						<span id="recap_type"></span>
					</li>
					<div id="recapitulatif-trajet" class="text-white text-sm my-2"></div>
					<div id="recap_prix_list" class="text-white mt-3"></div>
				</ul>
				<button type="submit" class="btn btn-primary">Réserver</button>
			</div>
		</div>