<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Permissions-Policy" content="geolocation=*">
	<meta name="description" content="ZenCAR, votre solution VTC haut de gamme à Marseille. Réservez un chauffeur en 5 à 10 minutes, paiement à bord, facture immédiate. Transferts gares, aéroports, calanques et plus de 300 chauffeurs disponibles." />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.19/build/css/intlTelInput.min.css" />
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <title>{% block title %}ZenCAR{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    
  </head>

  <body class="bg-light">
    {% include 'partials/_navbar.html.twig' %}

    <!-- ✅ Boutons Appel / WhatsApp visibles sur toutes tailles d'écran -->
   
    <main class="container">
      {% block body %}{% endblock %}
    </main>

    {% include 'partials/_footer.html.twig' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
