<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ZenCAR{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

    {# Inclusion de la navbar #}
    {% include 'partials/_navbar.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {# Inclusion du footer #}
    {% include 'partials/_footer.html.twig' %}

</body>
</html>
