{% extends 'base.html.twig' %}

{% block title %}Contact - ZenCAR{% endblock %}

{% block body %}

    <h1>Contactez-nous</h1>
    <p>Besoin d’un chauffeur ? Appelez-nous ou réservez en ligne.</p>

{% endblock %}
