{% extends 'base.html.twig' %}

{% block title %}Accueil - ZenCAR{% endblock %}

{% block body %}
    {% include 'partials/_navbar.html.twig' %}

    <h1>Bienvenue chez ZenCAR</h1>
    <p>Votre VTC premium disponible 24/7.</p>

    {% include 'partials/_footer.html.twig' %}
{% endblock %}
