{% extends 'base.html.twig' %}

{% block title %}Nos Services - ZenCAR{% endblock %}

{% block body %}
    {% include 'partials/_navbar.html.twig' %}

    <h1>Nos Services</h1>
    <ul>
        <li>Transfert aéroport</li>
        <li>Transfert gare</li>
        <li>Mise à disposition</li>
    </ul>

    {% include 'partials/_footer.html.twig' %}
{% endblock %}
